<template>
<div class="container-fluid">

<div class="row">
       
      <div class='col-sm-12'>

        <!-- <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();"><button type="button" class="btn btn-lg boton">Logout</button> </a> -->
        <br>

       </div>  
   </div>


  
</div>  
</template>

<script>


export default {
  name: "VirBotonesComponent",

    mounted() {
    console.log("Logout montado.");

  }
}

</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>
@import "../../sass/variables";

.boton2 {
  background-color: $blanco;
  margin: 15px;
  color: $terra;
}


</style>
