<template>
  <div class="dash">

     <div class="rejilla">


        <div class="item">

           <div class="info">
                   <vir-user-info-component
                  :user="c_user"
                  :avatar="c_avatar"
                  :games="c_games"
                  :language="c_user.favourite_language"
                  @avatar-change="onAvatarChange"  />  </div>
         </div>

         <div class="item">

            <div class="info">
                <vir-partidas-activas-component
                :games="c_games"
                /> </div>
        </div>

        <div class="item">

            <div class="info">
                  <vir-partidas-nuevas-component
                  :language="user.favourite_language"/> 
            </div>
        </div>

        <div class="item">

            <div class="info">
                  <vir-notificaciones-component/>     
            </div>
        </div>

        <div class="item">

            <div class="info">
                <vir-estadisticas-component
                :user="c_user"
                :language="c_user.favourite_language"/> 
            </div>
        </div>

        <div class="item">
            <div class="info">
                <vir-historico-component/>
            </div>
        </div>
     </div>
  </div>

</template>

<script>
import VirUserInfoComponent from "./VirUserInfoComponent";
import CardContainerComponent from "./CardContainerComponent";
import VirBotonesComponent from "./VirBotonesComponent";
import VirNotificacionesComponent from "./VirNotificacionesComponent";
import VirEstadisticasComponent from "./VirEstadisticasComponent";
import VirHistoricoComponent from "./VirHistoricoComponent";
import VirPartidasNuevasComponent from "./VirPartidasNuevasComponent";
import VirPartidasActivasComponent from "./VirPartidasActivasComponent";
import {
  Config as BConfig,
  default as ListenForBroadcast,
} from "./ListenForBroadcast.js";
import axios from "axios";
import CardMixin from "../mixins/CardMixin";

export default {
  name: "VirDashboardComponent",
  components: {
    VirBotonesComponent,
    VirUserInfoComponent,
    CardContainerComponent,
    VirEstadisticasComponent,
    ListenForBroadcast,
    VirHistoricoComponent,
    VirNotificacionesComponent,
    VirPartidasNuevasComponent,   
    VirPartidasActivasComponent 
  },
  mixins: [CardMixin],
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
    variables: { required: true, type: Array },
    games: { required: true, type: Array }, 
  },
  // variable no reactiva
  broadcastConfig: new BConfig("socket.io", window.location.hostname + ":6001"),
  data: () => ({
    c_user: null,
    c_games: [],
    c_avatar: "",
    c_variables: null,

    requestChallengeId: null,
    name: "",
    webSocketChannels: [],
  }),
  computed: {
    console: () => console, // para poder acceder a la consola desde el template
    windows: () => window,
  },
  created() {
    this.c_user = this.user;
    this.c_games = this.games;
    this.c_variables = this.variables;

    if (!this.avatar) this.c_avatar = "";
    else this.c_avatar = this.avatar;


    this.webSocketChannels.push({
      name: "user." + this.c_user.id,
      type: "private",
      events: ["AcceptedChallenge"],
    });
  },
  mounted() {
    console.log("DashboardComponent montado.");
    console.log(this.c_avatar);

  },
  methods: {
    onAvatarChange(image) {
      this.c_avatar = image;
    },

    scroll: function () {
      this.$refs.container.scroll(true);
    },

   },
  
};
</script>

<style lang="scss" scoped>


.item {
    padding: 0.4em;
    /* background-color: rgb(255, 255, 255); */

}

.rejilla{

    display: grid;

    grid-template: 1fr 1.5fr/ 1fr 2fr 2fr ;

    // grid-auto-rows: 200px;

    grid-gap: 10px;
}


.info {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.2);
    padding: 20px;
      // width: 96%;
}


@media (max-width: 800px) {
    .rejilla { 
        display: grid;
        // grid-template: 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr / 1fr;
        grid-template: repeat(6, 0.3fr) / 1fr;
    
        // grid-auto-rows: 200px;
    
        grid-gap: 10px; 
    }
}





</style>
