<template>


       <div class="user-data"> 

            
                 <div class="titulo">

                  <h3> Estadísticas </h3>

                    <p><span class="seleccioneIdioma">¡Seleccione un idioma!</span>
                    
                     <select class="form-select" v-model="selected">
                       
                        <option v-for="option in options" v-bind:value="option.value">
                          {{ option.text }}
                        </option>
                        
                     </select>
                     </p> 

                   <div v-for="estadistica in statistics" :key="estadistica.language_code">
                     <div v-if="selected === estadistica.language_code">
                        <div class="info">    

                        <img class="img-section" src='/img/estadisticas3.png' alt='estadisticas' width="250px">   

                        
                        <p class="nivel"> Nivel {{estadistica.level}}</p>
                        
                        <p class="data "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trophy-fill" viewBox="0 0 16 16">
                        <path d="M2.5.5A.5.5 0 0 1 3 0h10a.5.5 0 0 1 .5.5c0 .538-.012 1.05-.034 1.536a3 3 0 1 1-1.133 5.89c-.79 1.865-1.878 2.777-2.833 3.011v2.173l1.425.356c.194.048.377.135.537.255L13.3 15.1a.5.5 0 0 1-.3.9H3a.5.5 0 0 1-.3-.9l1.838-1.379c.16-.12.343-.207.537-.255L6.5 13.11v-2.173c-.955-.234-2.043-1.146-2.833-3.012a3 3 0 1 1-1.132-5.89A33.076 33.076 0 0 1 2.5.5zm.099 2.54a2 2 0 0 0 .72 3.935c-.333-1.05-.588-2.346-.72-3.935zm10.083 3.935a2 2 0 0 0 .72-3.935c-.133 1.59-.388 2.885-.72 3.935z"/>
                        </svg> Ganadas: {{estadistica.won}}</p>

                        <p class="data"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg> Perdidas: {{estadistica.lost}}</p>
                        <p class="data "><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-bar-chart-line-fill" viewBox="0 0 16 16">
                        <path d="M11 2a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12h.5a.5.5 0 0 1 0 1H.5a.5.5 0 0 1 0-1H1v-3a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3h1V7a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7h1V2z"/>
                        </svg> Tu palabra: {{estadistica.most_valuable_word}}</p>

                           <!-- https://github.com/DeviaVir/vue-bar -->
                            <!-- He intentado que se quedarán dos barras con win y lose pero queda muy mal visualmente, lo he dejado así que al menos quedaba decente...  -->
                            <!-- :labelData="[' ','win','lose']" -->
                            <bars
                            :data="[estadistica.lost, estadistica.won, estadistica.lost, estadistica.won, estadistica.lost, estadistica.won, estadistica.lost, estadistica.won,]"
                            :gradient="['#e0ccb8', '#FFFFFF']"                         
                            :labelColor="'#FFFFFF'"
                            :labelRotate="0"
                            :labelSize="0.4">
                            </bars>

                       </div> 
                    </div>
                        
                   </div>

                  </div>
    

</div>
 
 
</template>

<script>
import axios from "axios";
import CardMixin from "../mixins/CardMixin";
import CardContainerComponent from "./CardContainerComponent";
import VirHistoricoComponent from "./VirHistoricoComponent";
import VirNotificacionesComponent from "./VirNotificacionesComponent";
import Vue from 'vue'
import Bars from 'vuebars'

Vue.use(Bars)// import VeLine from 'v-charts/lib/line.common'


export default {
  name: "VirEstadisticasComponent",
   components: {
    CardContainerComponent,
    VirHistoricoComponent,
    VirNotificacionesComponent,



 },
   props: {
    user: { required: true, type: Object },
    language: { required: true, type: String }
  },
 data:() => ({    
    statistics: [],
    selected: '',
    options: [
      { text: 'Inglés', value: 'en' },
      { text: 'Español', value: 'es' },
    ],
    esSelected: true,
    enSelected: false,
    idiomaFavorito: '',
    
  }),

  mixins: [CardMixin],

  mounted() {
    console.log("Estadisticas montado.");
    this.userStatistics();
    this.selected = this.language;
  },

   methods: {    

     userStatistics() {
      // estadísiticas via AJAX
      const promise = axios.get("/scrabble/user/statistics");

      promise
        .then((response) => {
          console.log("Estadísticas:", response);
          for (let i=0; i<response.data.length; i++){
            this.statistics.push(response.data[i]);              
          }      
          return this.statistics;
          
        })
        .catch((error) => {
          console.log("Error: " + error);

        });
    }



   } 
  

};
</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>
@import "../../sass/variables";

.user-data {

  // es el div padre del componente de subida de imágenes
  .upload-image {
    width: 50%;
  }

  .titulo{
    color: $terra;
    font-weight: bolder;
  }


  .info {
    line-height: 41px;
    background-color: $terra;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 20px;
    color:white;
  }

  .value {
    color: $terra;
    padding-left: $padding-left;
    font-weight: 700;
  }

  .data {
    padding-left: $padding-left;
    // text-align: center;
    font-size: 20px;

  }

h3{
  color: $blanco;
  padding: 3px;
  background-color: $grisclaro;
  text-align: center;
}

.nivel{
  font-size: 40px;
  font-weight: bolder;
}

img {
  float: left;
}


.seleccioneIdioma{
  font-weight: bolder;
  color: $gris;
  font-size: 20px;
}



}


@media (max-width: 800px) {
  img{
    display:none;
  }
}



</style>
