<template>
  <div class="info-game-data">

    <h3>Fichas disponibles</h3>
    
    <br>

    <h4 class="value1">¡Aquí tienes tus fichas!</h4>
    <p class="data">Piensa bien cual es la mejor opción</p>

      <!-- FICHAS -->
      <div class="player-tokens" :class="{ turn: isTurn, noturn: !isTurn }">
        <div v-for="token in tokens" :key="token.id" class="token">
          <span class="letter">{{ token.letter }}</span>
          <span class="points">{{ token.value }}</span>
        </div>
      </div>

      <br>

     <div class="log">
        <span class="data">Letras en saco: </span>
        <span class="value1">{{ c_game.remaining_tokens }} </span>/ <span class="value2">{{ c_game.total_tokens }}</span>

      </div>
 

  </div>
</template>

<script>
import axios from "axios";

import {
  Config as BConfig,
  default as ListenForBroadcast,
} from "./ListenForBroadcast.js";
import ScrabbleHelper from "../scrabble_helper_library.js";

export default {
  name: "InfoGameComponent",
  components: {
    ListenForBroadcast,
  },
  props: {
    user: { required: true, type: Object },
    opponent: { required: true, type: Object },
    game: { required: true, type: Object },
  },
  // variable no reactiva
  broadcastConfig: new BConfig("socket.io", window.location.hostname + ":6001"),
  data() {
    return {
      c_game: null,
      c_user: null,
      c_opponent: null,
      tokens: [],
      rowpos: "A",
      colpos: 1,
      direction: "H",
      word: "",
      tokensReturn: [],
      webSocketChannels: [],
    };
  },
  computed: {
    console: () => console, // para poder acceder a la consola desde el template
    isTurn() {
      return (
        (this.c_user.player == "P1" && this.c_game.state == "turn_p1") ||
        (this.c_user.player == "P2" && this.c_game.state == "turn_p2")
      );
    },
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.c_opponent = this.opponent;

    this.fillTokens(this.c_user.tokens);

    this.webSocketChannels.push({
      name: "game." + this.c_game.id + ".user." + this.c_user.id,
      type: "private",
      events: ["OpponentThrow", "GiveupGame"],
    });

    /* this.listenForBroadcast(); */
  },
  mounted() {
    console.log("Fichas montado.");
  },
  methods: {
    getLetter(d) {
      return ScrabbleHelper.getLetter(this.c_game.language, d);
    },
    getCode(d) {
      return ScrabbleHelper.getCode(this.c_game.language, d);
    },
    fillTokens(tokens) {
      this.tokens.length = 0;

      // añado el id
      for (let n = 0; n < tokens.length; n++) {
        let newToken = {
          id: this.tokens.length + n,
          value: tokens[n].value,
          letter: this.getLetter(tokens[n].letter),
        };

        this.tokens.push(newToken);
      }
    },
    returnTokens() {
      let route = "/scrabble/game/" + this.c_game.id + "/user/return";

      let tmpTokens = [];

      for (let i = 0; i < this.tokensReturn.length; i++) {
        tmpTokens.push(this.tokensReturn[i].slice(-1));
      }

      const promise = axios.post(route, {
        tokens: tmpTokens,
      });

      promise
        .then((response) => {
          console.log("Respuesta piezas devueltas: ", response.data);

          // pongo las nuevas letras en pantalla
          this.fillTokens(response.data.tokens);

          // actualizo el estado
          this.c_game.state = response.data.state;

          this.tokensReturn.length = 0;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    passTurn() {
      let route = "/scrabble/game/" + this.c_game.id + "/user/pass";
      const promise = axios.post(route);

      promise
        .then((response) => {
          console.log("Respuesta pasar turno: ", response);

          // actualizo el estado
          this.c_game.state = response.data.state;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    giveup() {
      let route = "/scrabble/game/" + this.c_game.id + "/giveup";
      const promise = axios.post(route);

      promise
        .then((response) => {
          console.log("Partida abandonanda");

          // actualizo el estado
          this.c_game.state = response.data.state;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    sendWord() {
      // envio la palabra
      // el JSON de ejemplo incuye todos los posibles datos a modificar
      // podría sólo indicarse uno
      let route = "/scrabble/game/" + this.c_game.id + "/user/throw";
      const promise = axios.post(route, {
        word: this.word,
        row: this.rowpos,
        column: this.colpos,
        direction: this.direction,
      });

      promise
        .then((response) => {
          console.log("Respuesta envio palabra:", response);

          // redibujo el tablero con la nueva palabra
          this.c_game.tableboard = ScrabbleHelper.updateTableboard(
            this.c_game.tableboard,
            response.data.icol,
            response.data.irow,
            this.direction,
            response.data.rword
          );

          // pongo las nuevas letras en pantalla
          this.fillTokens(response.data.tokens);

          // quito letras del saco
          this.c_game.remaining_tokens -= parseInt(
            response.data.newtokens.length
          );

          // actualizo sus puntos
          this.c_user.score = response.data.pscore;

          // actualizo el estado
          this.c_game.state = response.data.state;

          if (response.data.pstate == "win") {
            alert("¡¡Enhorabuena!! ¡¡Has ganado!!");
          }
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },


  },
};
</script>

<style lang="scss" scoped>
@import "../../sass/variables";

h3{
  color: $blanco;
  padding: 3px;
  background-color: $grisclaro;
  text-align: center;
}


.player-tokens {
  display: flex;
  justify-content: center;
  width: 90%;
  margin: 20px;

  .token {
    border: 2px solid #725b49;
    border-radius: 10px;
    background-color: $beige;
    font-weight: bold;
    width: 50px;
    height: 50px;
    padding: 0.3em;
    margin: 0 0.8em;
    text-align: center;
  }

  .points {
    font-size: 0.6em;
  }


 }

 .data{
    font-size: 20px;
    font-weight: bold;
    color: $gris;
  }

  .value1{
    font-size: 30px;
    font-weight: bolder;
    color: $terra;
  }

  .value2{
    font-size: 30px;
    font-weight: bolder;
    color: $gris;
  }

@media (max-width: 800px) {
    .player-tokens {
      display:none
    }
}





</style>
