<template>
  <div class="game-data">

    <h3 class="partida">Tu partida</h3>

    <img class="left" v-if="game.language == 'en'" src='/img/reino-unido.png' alt='en'>   
    <img class="left" v-if="game.language == 'es'" src='/img/espana.png' alt='es'>    

    <p>Partida {{ game.id }}
    <span class="turno" v-if="game.state == 'turn_p1'"> Tu turno </span>
    <span class="turno" v-if="game.state == 'turn_p2'"> Su turno </span>
    <span class="turno-win" v-if="game.state == 'win_p1'"> Has ganado </span>
    <span class="turno-lose" v-if="game.state == 'win_p2'"> Has perdido </span>
    </p>

    <p class="fechas">• Inicio partida: {{ game.created_at | parsefecha}}</p>


    <div v-if="game.updated_at" class="fechas">
      <span class="data">• Última tirada: </span>
      <span class="value">{{ game.updated_at }}</span>
    </div>
    <div v-else class="fechas">
      <span class="data">• Última tirada: </span><span class="value">-</span>
    </div>

   <br>

  </div>
</template>

<script>
export default {
  name:
    "GameDataComponent" /* que sea siempre compuesto con - para evitar colisiones con otros tag HTML5 */,
  props: {
    game: { required: true, type: Object },
  },
  mounted() {
    console.log("GameDataComponent montado.");

  },
  filters: {
  parsefecha: function (value) {
    let d = new Date(value);
    let fechaParse = d.toLocaleDateString();
    return fechaParse;
  }
}
  
};
</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>

@import "../../sass/variables";
.game-data {
  width: 96%;
  margin: 0 2%;
  font-size: 1.2em;

}

.partida{
  color: $blanco;
  padding: 3px;
  background-color: $terra;
  text-align: center;
}

.jugadores{
  color: $blanco;
  padding: 3px;
  background-color: $gris;
  text-align: center;
}


img{
  float: left;
  width: 30px;
  margin-right: 10px;
}

p{
  font-size: 25px;
  font-weight: bolder;
}

.turno{
  font-size: 20px;
  margin-left: 20px;
  color: $gris;
  font-weight: bold;
  background-color: $beigeclaro;
  border-radius: 20px;
  padding: 5px 20px  5px 20px;
}

.turno-win{
  font-size: 20px;
  margin-left: 20px;
  color: $gris;
  font-weight: bold;
  background-color: #9cfa94;
  border-radius: 20px;
  padding: 5px 20px  5px 20px;
}

.turno-lose{
  font-size: 20px;
  margin-left: 20px;
  color: $gris;
  font-weight: bold;
  background-color: #f58080;
  border-radius: 20px;
  padding: 5px 20px  5px 20px;
}

.fechas{
  font-size: 18px;
  font-weight: bold;
  color: $gris;

}
</style>


