<template>

<div>
        <h3>Historial de partidas</h3>        
      
       <div v-for="game in games" :key="game.id">  
            <div class="divisor">
              <img v-if="game.idioma == 'en'" src='/img/reino-unido.png' alt='en'>   
              <img v-if="game.idioma == 'es'" src='/img/espana.png' alt='es'>   
              <p><span class="nombre">{{game.player2 }}</span> <span class="fecha">- {{game.fecha}}</span></p>
              <p><span class="nosotros"> {{game.puntos1 }} puntos</span> vs <span class="oponente"> {{game.puntos2 }} puntos</span> </p>
            </div>
        </div>

        <nav>
          <ul class="pagination">
            <a href="#" @click.prevent="getPage(prev_page_url)"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#606060" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
            </svg></a>
            <p class="paginas"> Página {{current_page}} de {{last_page}} </p>
            <a href="#" @click.prevent="getPage(next_page_url)"><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#606060" class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
            <path d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
          </svg></a>
          </ul>
        </nav>

</div>


</template>




<script>
import axios from "axios";

export default {
  name: "VirHistoricoComponent",
   data:() => ({    
        games: [],  
        current_page: 1,
        first_page_url: "",
        next_page_url: "",
        prev_page_url: "",
        last_page: "", 
        last_page_url: "",
  }), 

   mounted() {
     console.log("Historico montado");
     this.getHistorial();
     console.log(this.games)
    },


     methods: {    

     getHistorial() {
      const promise = axios.get("/scrabble/user/games/3");

      promise
        .then((response) => {
            console.log("Partidas pagina " + response.data.current_page, response);
            this.current_page = response.data.current_page;
            this.first_page_url = response.data.first_page_url;
            this.next_page_url = response.data.next_page_url;
            this.prev_page_url = response.data.prev_page_url;   
            this.last_page = response.data.last_page 
 

           for (let i=0; i<response.data.data.length; i++){
              let d = new Date(response.data.data[i].updated_at);
              let fechaParse = d.toLocaleDateString();
              let datosPartida =  {fecha: fechaParse, player2: response.data.data[i].player2.name, puntos1: response.data.data[i].player_1_score,
                                   puntos2: response.data.data[i].player_2_score, idioma: response.data.data[i].language};
              this.games.push(datosPartida);    

            }return this.games;
            
          
        })
        .catch((error) => {
          console.log("Ha ocurrido un error: " + error);

        });
    },

    getPage(pagina){  
      
      const promise = axios.get(pagina);        
      promise
        .then( (response) =>{          
            console.log("Partidas pagina " + response.data.current_page, response);
            this.current_page = response.data.current_page;
            this.next_page_url = response.data.next_page_url;
            this.prev_page_url = response.data.prev_page_url;
            this.games = [];


            for (let i=0; i<response.data.data.length; i++){

              let d = new Date(response.data.data[i].updated_at);
              let fechaParse = d.toLocaleDateString();
              let datosPartida =  {fecha: fechaParse, player2: response.data.data[i].player2.name, puntos1: response.data.data[i].player_1_score,
                                   puntos2: response.data.data[i].player_2_score, idioma: response.data.data[i].language,
                                   };
              this.games.push(datosPartida);    
          }return this.games;
        })
        .catch ((error) =>{
            console.log("Ha ocurrido un error: " + error);                       
        });
    }

   } 
  


}

</script>

<style lang="scss" scoped>
@import "../../sass/variables";


h3{
  color: $blanco;
  padding: 3px;
  background-color: $terra;
  text-align: center;
}

.divisor{
  background-color:rgb(246, 246, 246);
  text-align: center;
  outline: 2px dashed $grisclaro;
  box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.2);
  margin: 0px 3px 10px 3px;
  padding: 5px 5px 3px 10px;
  font-size: 20px;
  color: $gris;
}



a:hover{
     transform: scale(1.1);
}

.divisor:hover{
   transform: scale(1.01);
}


.nombre {
  color: $terra;
  font-size: 25px;
  font-weight: bolder;
}

.fecha {
  color: $gris;
  font-weight: bolder;
}

.oponente{
  color: #f44336;
  font-weight: bolder;
  font-size: 20px;
}

.nosotros{
  color: #6eda5b;
  font-weight: bolder;
  font-size: 20px;
}


.paginas{
  color: $gris;
  font-weight: bolder;
  font-size: 15px;
  margin: 3px 5px 0px 5px;
}

img{
  float: left;
}

</style>

