<template>
  <div class="info-game-data">

   <!-- TABLERO --> 
    <div class="tableboard">
      <table>
        <tr>
          <th />
          <th v-for="index in 15" :key="index" class="cell2">{{ index }}</th>
        </tr>
        <tr v-for="indexY in 15" :key="indexY">
          <th class="cell2">{{ String.fromCharCode(64 + indexY) }}</th>
          <td v-for="indexX in 15" :key="indexX" class="cell">
            {{
              getLetter(
                game.tableboard.charAt((indexY - 1) * 15 + (indexX - 1))
              )
            }}
          </td>
        </tr>
      </table>
    </div>

        <br>
        <br>

   <!-- PANEL -->
    <div class="panel-control">

      <div class="throw">
        <div id="throw">
          <label for="rowpos">Fila 1ª letra:</label>
          <select id="rowpos" v-model="rowpos">
            <option
              v-for="indexY in 15"
              :key="indexY"
              :value="String.fromCharCode(64 + indexY)"
            >
              {{ String.fromCharCode(64 + indexY) }}
            </option>
          </select>
          <label for="colpos">Columna 1ª letra:</label>
          <select id="colpos" v-model="colpos">
            <option v-for="index in 15" :key="index" :value="index">
              {{ index }}
            </option>
          </select>
          <label for="direction">H/V:</label>
          <select id="direction" v-model="direction">
            <option value="H">Horizontal</option>
            <option value="V">Vertical</option>
          </select>
          <br />
          <label for="word">Palabra:</label>
          <input id="word" v-model="word" type="text" name="word" />
          <a class="boton"  id="send" type="button" @click="sendWord">
            Envia palabra
          </a>

         <div class="palabraError" v-if="palabraError"> 
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg>  {{ mensajeError }} </p>
         </div>  
         <div class="palabraOk" v-if="palabraOk"> 
          <p> ¡Bien jugado! </p>
         </div>  

        </div>


        <div id="return-letter">
          <span v-for="token in tokens" :key="token.id">
            <label for="">{{ token.letter }} ({{ token.value }})</label>
            <input
              v-model="tokensReturn"
              type="checkbox"
              name="returned-letter"
              :value="token.id + getCode(token.letter)"
            />
             </span>
          </div>

        </div>
        <div id="spend-turn">
          <a class="botonUser" id="return"  @click="returnTokens">Devolver</a>

          <a class="botonUser" id="spend"  @click="passTurn"> Pasar turno</a>

          <a class="botonUser" id="giveup" @click="juegoEliminar = 1">Abandonar</a>
        </div>

        <br>

        <div class="palabraOk" v-if="turnoPasado"> <p> Se ha pasado de turno correctamente </p> </div>
        <div class="palabraError" v-if="turnoPasadoError"> <p> No es tu turno </p> </div>


        <!-- The Modal -->
          <div v-if="juegoEliminar != 0" id="myModal" class="mimodal">

              <!-- Modal content -->
              <div class="mimodal-contenido">
                  <div class="modaltitulo">
                  <span class="close"  @click.prevent="juegoEliminar = 0">&times;</span>
                  <h2>Abandonar partida</h2>
                  </div>
                  <div class="modalcuerpo">
                  <p>¿Seguro que quieres abandonar la partida?</p>
                  <a href="#" id="abandonar" class="abandonar" @click.prevent="giveup">Abandonar</a>
                  </div>
              </div>

          </div>


      
    </div>

  </div>
</template>

<script>
import axios from "axios";
//import ListenForBroadcast from "./ListenForBroadcast";

import ScrabbleHelper from "../scrabble_helper_library.js";

export default {
  name: "InfoGameComponent",

  props: {
    user: { required: true, type: Object },
    opponent: { required: true, type: Object },
    game: { required: true, type: Object },
  },

  data() {
    return {
      c_game: null,
      c_user: null,
      c_opponent: null,
      tokens: [],
      rowpos: "A",
      colpos: 1,
      direction: "H",
      word: "",
      tokensReturn: [],
      webSocketChannels: [],
      palabraError: false,
      mensajeError: " ",
      juegoEliminar: 0,
      turnoPasado: false,
      turnoPasadoError: false,
      palabraOk: false,
    };
  },
  computed: {
    console: () => console, // para poder acceder a la consola desde el template
    isTurn() {
      return (
        (this.c_user.player == "P1" && this.c_game.state == "turn_p1") ||
        (this.c_user.player == "P2" && this.c_game.state == "turn_p2")
      );
    },
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.c_opponent = this.opponent;

    this.fillTokens(this.c_user.tokens);

    this.webSocketChannels.push({
      name: "game." + this.c_game.id + ".user." + this.c_user.id,
      type: "private",
      events: ["OpponentThrow", "GiveupGame"],
    });

  
  },
  mounted() {
    console.log("Info game montado.");
  },
  methods: {
    getLetter(d) {
      return ScrabbleHelper.getLetter(this.c_game.language, d);
    },
    getCode(d) {
      return ScrabbleHelper.getCode(this.c_game.language, d);
    },
    fillTokens(tokens) {
      this.tokens.length = 0;

      // añado el id
      for (let n = 0; n < tokens.length; n++) {
        let newToken = {
          id: this.tokens.length + n,
          value: tokens[n].value,
          letter: this.getLetter(tokens[n].letter),
        };

        this.tokens.push(newToken);
      }
    },
    returnTokens() {
      let route = "/scrabble/game/" + this.c_game.id + "/user/return";

      let tmpTokens = [];

      for (let i = 0; i < this.tokensReturn.length; i++) {
        tmpTokens.push(this.tokensReturn[i].slice(-1));
      }

      const promise = axios.post(route, {
        tokens: tmpTokens,
      });

      promise
        .then((response) => {
          console.log("Respuesta piezas devueltas: ", response.data);

          // pongo las nuevas letras en pantalla
          this.fillTokens(response.data.tokens);

          // actualizo el estado
          this.c_game.state = response.data.state;

          this.tokensReturn.length = 0;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    passTurn() {
      let route = "/scrabble/game/" + this.c_game.id + "/user/pass";
      const promise = axios.post(route);

      promise
        .then((response) => {
          console.log("Respuesta pasar turno: ", response);

          // actualizo el estado
          this.c_game.state = response.data.state;
          this.turnoPasado = true;
        })
        .catch((error) => {
          this.turnoPasadoError = true;
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    giveup() {
      let route = "/scrabble/game/" + this.c_game.id + "/giveup";
      const promise = axios.post(route);

      promise
        .then((response) => {
          console.log("Partida abandonanda");

          this.juegoEliminar = 0;
          this.c_game.state = response.data.state;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    sendWord() {
      // envio la palabra
      // el JSON de ejemplo incuye todos los posibles datos a modificar
      // podría sólo indicarse uno
      let route = "/scrabble/game/" + this.c_game.id + "/user/throw";
      const promise = axios.post(route, {
        word: this.word,
        row: this.rowpos,
        column: this.colpos,
        direction: this.direction,
      });

      promise
        .then((response) => {
          console.log("Respuesta envio palabra:", response);
          this.palabraOk = true;
          // redibujo el tablero con la nueva palabra
          this.c_game.tableboard = ScrabbleHelper.updateTableboard(
            this.c_game.tableboard,
            response.data.icol,
            response.data.irow,
            this.direction,
            response.data.rword
          );

          // pongo las nuevas letras en pantalla
          this.fillTokens(response.data.tokens);

          // quito letras del saco
          this.c_game.remaining_tokens -= parseInt(
            response.data.newtokens.length
          );

          // actualizo sus puntos
          this.c_user.score = response.data.pscore;

          // actualizo el estado
          this.c_game.state = response.data.state;

          if (response.data.pstate == "win") {
            alert("¡¡Enhorabuena!! ¡¡Has ganado!!");
          }
        })
        .catch((error) => {
          this.palabraError = true;
          this.mensajeError = error.response.data;
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );

        });
    },
    // realiza la funcion correspondiente en funcion del evento broadcast recibido
    processBroadcastEvent(channel, event, e) {
      console.log(channel, " - ", event, " - ", e);
      switch (event) {
        case "OpponentThrow":
          this.c_game.state = e.state;
          if (e.playerState == "pass") {
            alert("El contrincante ha pasado turno.");
            console.log("El contrincante ha pasado turno.");
          } else if (e.playerState == "win") {
            alert("Lo siento, has perdido :(");
            console.log("Lo siento, has perdido :(");
          } else if (e.playerState == "return") {
            alert("El contrincante ha devuelto fichas");
            console.log("El contrincante ha devuelto fichas");
          } else {
            this.c_game.remaining_tokens = e.numberRemainingTokens;
            this.c_opponent.score = e.playerScore;
            this.c_game.tableboard = e.tableboard;

            console.log("Recibida tirada oponente");
          }
          break;
        case "GiveupGame":
          this.c_game.state = e.state;
          alert("El contrincante ha abandonado.");
          console.log("El contrincante ha abandonado.");
          break;
        default:
          console.log("Broadcast event ", event, " not processed");
      }
    },
    listenForBroadcast() {
      console.log(
        "Escuchando canales: game." + this.c_game.id + ".user." + this.c_user.id
      );

      window.Echo.private("game." + this.c_game.id + ".user." + this.c_user.id)
        .listen(".OpponentThrow", (e) => {
          this.c_game.state = e.state;
          if (e.playerState == "pass") {
            alert("El contrincante ha pasado turno.");
            console.log("El contrincante ha pasado turno.");
          } else if (e.playerState == "win") {
            alert("Lo siento, has perdido :(");
            console.log("Lo siento, has perdido :(");
          } else if (e.playerState == "return") {
            alert("El contrincante ha devuelto fichas");
            console.log("El contrincante ha devuelto fichas");
          } else {
            this.c_game.remaining_tokens = e.numberRemainingTokens;
            this.c_opponent.score = e.playerScore;
            this.c_game.tableboard = e.tableboard;

            console.log("Recibida tirada oponente");
          }
        })
        .listen(".GiveupGame", (e) => {
          this.c_game.state = e.state;
          alert("El contrincante ha abandonado.");
          console.log("El contrincante ha abandonado.");
        });
    }, 
  },
};
</script>

<style lang="scss" scoped>
@import "../../sass/variables";

.tableboard {
  background-color: $beigeclaro;
  width: 500px;
  font-size: 0.7rem;


  .cell {
    border: 1px solid $terra;
    width: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: $gris;
  }

  .cell2 {
    border: 1px solid $terra;
    width: 2rem;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    color: $blanco;
  }

  th {
    background-color: $terra;
  }

}

// .panel-control {
//   display: grid;
//   grid-gap: 10px;
//   grid-template-rows: 38px 242px;
// }

input[type=text] {
  border: none;
  border-bottom: 2px solid $terra;
}




.log {
  background-color: $blanco;
}

.throw {
  background-color: $blanco;
  // display: grid;
  // grid-template-rows: 1fr 1fr;

  label {
    margin-left: 0.5em;
  }
}

button {
  margin: 0 0.4em;
  padding: 0 0.3em;
}

.info-game-data {
  width: 96%;

  .value {
    color: $terra;
    font-weight: 700;
  }
}



.player-tokens {
  display: flex;
  justify-content: center;

  .token {
    border: 2px solid #725b49;
    border-radius: 10px;
    background-color: $beige;
    font-weight: bold;
    width: 50px;
    height: 50px;
    padding: 0.3em;
    margin: 0 0.8em;
    text-align: center;
  }

  .points {
    font-size: 0.6em;
  }


}



.variables-title {
  font-size: 1.6em;
  padding: 0.5em;
  font-weight: 500;
  margin-left: 15%;
}


.boton{  
    padding: 5px;
    font-weight: bold;
    border-radius: 30px;
    border: 2px solid $gris;
    margin-left: 10px;
    margin-top: 10px;
    color: $blanco;
 }

   .botonUser{
    text-align: center;
    width: 160px;
    margin: 10px 5px 5px 0px;
    padding: 10px;
    color: $gris;
    font-weight: bolder;
    background-color: rgb(202, 202, 202);
    border-radius: 30px;
  }

 #return-letter{
   font-weight: bolder;
   color: $gris;
   margin: 20px 0px 20px 0px;
 }

 .throw{
   font-weight: bold;
   color: $gris;
 }

input[type='checkbox']{
  filter: grayscale(1);
}

.palabraError{
  background-color: rgb(245, 128, 128);
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
}

.palabraOk{
  background-color: #97d13f;
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
}


.mimodal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
  }

  .mimodal-contenido{
    background-color: $blanco;   
    border-radius: 30px; 
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid $gris;
    width: 400px; 
  }

.abandonar{
    background-color: #f44336;
    color: $blanco;
    font-weight: bold;
    padding: 5px;
    border-radius:20px;
}
  
  .close {
    color: $gris;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


@media (max-width: 800px) {
    .tableboard {
      background-color: $beigeclaro;
      width: 340px;
      font-size: 0.7rem;
    }
}


</style>
