<template>
  <div>
  <h3>Notificaciones <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
  <path d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555ZM0 4.697v7.104l5.803-3.558L0 4.697ZM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757Zm3.436-.586L16 11.801V4.697l-5.803 3.546Z"/>
</svg></h3>

        <button type="button" class="botonBandeja" v-on:click="activarMensajes = !activarMensajes"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill" viewBox="0 0 16 16">
        <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
        </svg> Bandeja de entrada - {{ mensajesleidos.length }} mensajes</button>

        <br>

        <button type="button" class="botonBandeja"  v-on:click="activarNotificaciones = !activarNotificaciones"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
      </svg> {{ notificaciones.length }} nuevos</button>

        <!-- <a href="#" @click.prevent="deleteNotification">  Borrar notificación </a>  -->
        <div v-if="activarMensajes">
        <div v-for="mensaje in mensajesleidos" :key="mensaje.id">  
            <div class="mensaje">
             
             <p> {{ mensaje.notification }} </p>    
            </div>
        </div>
        </div>

         <div v-if="activarNotificaciones">
          <div v-for="notificacion in notificaciones" :key="notificacion.id">  
              <div class="mensaje">
              <a href="#"  @click.prevent="deleteNotification(notificacion.id)"><img class="right" src='/img/eliminar.png' alt='eliminar'></a>    
              <p class="notificacion"> Notificación: </p>
              <p> {{ notificacion.notification }} </p>              
              </div>
          </div>
        </div>       

    </div>



</template>

<script>
import axios from "axios";

export default {
  name: "VirNotificacionesComponent",

 data:() => ({    
    notificaciones: [],
    mensajesleidos: [],
    activarMensajes: false,
    activarNotificaciones: true
  }),
    mounted() {
    console.log("Estadisticas montado.");
    this.getNotificaciones();
    this.mensajesLeidos();
  },

methods: {

      getNotificaciones(){ 
      const promise = axios.get("/scrabble/user/notifications/unread");        
      promise
        .then( (response) =>{            
            for (let i=0; i<response.data.length; i++){
              this.notificaciones.push(response.data[i]);               
            }
            console.log("Notificaciones", response.data);    
             return this.notificaciones;                   
        })
        .catch (function (error){
            console.log("Error:" + error);            
        });
    },

    
      mensajesLeidos(){ 
      const promise = axios.get("/scrabble/user/notifications/read");        
      promise
        .then( (response) =>{            
            for (let i=0; i<response.data.length; i++){
              this.mensajesleidos.push(response.data[i]);               
            }
            console.log("Mensajes leidos", response.data);    
             return this.mensajesleidos;                   
        })
        .catch (function (error){
            console.log("Error:" + error);            
        });
    },

      deleteNotification(id) {
    
      const promise = axios.put("/scrabble/notification/" + id + "/update/delete");

      promise
        .then((response) => {
          console.log("Borrado notificación:", response);
          // this.notificaciones = [];
          // this.getNotificaciones();

             for(let i=0; i<this.notificaciones.length; i++){
                if(this.notificaciones[i].id == id){
                  this.notificaciones.splice(i,1);
                  console.log("Adiós notificación " + id);

                }
             }
        })
        .catch((error) => {
          console.log("ERROR: " + error);

        });
    }

}
};
</script>


<style lang="scss" scoped>
@import "../../sass/variables";


h3{
  color: $blanco;
  padding: 3px;
  background-color: $gris;
  text-align: center;
}

.divisor{
  background-color: rgb(251, 248, 248); 
  box-shadow: 3px 2px 2px 1px rgba(129, 129, 129, 0.4);
  text-align: center;
  margin-bottom: 15px;
  padding:10px;
  font-size: 20px;
  color: $gris;
}

button:hover{
     transform: scale(1.03);
}

.mensaje{
  box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.2);
}

.divisor:hover{
   transform: scale(1.05);
}

.notificacion{
  color: $terra;
  font-weight: bold;
}

.botonBandeja{  
    border: 2px solid $terra;
    color: $blanco;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border-radius: 30px;
    background-color: $terra;   
    margin: 5px;
 }

  .botonUser{
    text-align: center;
    width: 160px;
    margin: 8px;
    padding: 5px;
    color: $gris;
    background-color: $grisclaro;
    border-radius: 30px;
  }

  img{
    float: right;
  }

</style>

