<template>
  <div>
  <h3>Nueva partida</h3>

          <!-- seleccion de idioma  -->
          <div class="partida1">
          <h4>Partida aleatoria</h4>
              <select class="form-select" v-model="languageSelected">
                       
                 <option v-for="option in options" v-bind:value="option.value">
                        {{ option.text }}
                </option>
                        
             </select>
          <a href="#" class="botonPartidas" @click.prevent="rivalAleatorio()">¡Vamos!</a>  
          </div>

          <!-- seleccion de nivel  -->
          <div class="partida2">
          <h4>Partida por nivel</h4>  
            
              <input type="radio" id="Mayor" value="+" v-model="levelOption">
              <label for="Mayor">Mayor</label>
              <input type="radio" id="Menor" value="-" v-model="levelOption">
              <label for="Menor">Menor</label>
              <input type="radio" id="Igual" value="" v-model="levelOption">
              <label for="Igual">Igual a</label>

              

             <select class="form-select" v-model="levelSelected">                       
                <option v-for="option in optionslvl" v-bind:key="option.value">
                  {{ option.value }}
                </option>                        
             </select>

          <a href="#" class="botonPartidas" @click.prevent="rivalNivel()">¡A ganar!</a>
          </div>
       
          <!-- seleccion de rival  -->
          <div class="partida1">
          <h4>Partida por rival</h4>  

               
          <!-- <input id="rival" type="text" v-model="name" v-on:change="buscarUsuarios()">   
     
          <select class="form-select" v-model="name" v-on:change="buscarUsuarios()">
                       
                <option v-for="rival in rivales" v-bind:key="rival.name">
                  {{ rival.name }}
                </option>
                        
         </select>       -->


            
          <input list="losrivales" name="losrivales" type="text" v-model="name" v-on:change="buscarUsuarios()">
          
          <datalist id="losrivales" class="form-select" v-on:change="buscarUsuarios()">                       
                <option v-for="rival in rivales" v-bind:key="rival.name">
                  {{ rival.name }}
                </option>                        
          </datalist>  
         
          <a href="#" class="botonPartidas" @click.prevent="rivalElegir()">¡A por tu rival!</a>
           </div>

        <p v-if="avisoCaracter" class="challengeError">Introduce 3 carácteres</p>
         <!-- Si se ha creado correctamente  --> 
         <div class="challengeCreado" v-if="challengeCreado"> 
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
          </svg> El challenge se ha creado correctamente </p>
         </div>  
          <!-- Si se ha ocurrido un error  --> 
         <div class="challengeError" v-if="challengeError"> 
          <p> <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-circle-fill" viewBox="0 0 16 16">
          <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 4a.905.905 0 0 0-.9.995l.35 3.507a.552.552 0 0 0 1.1 0l.35-3.507A.905.905 0 0 0 8 4zm.002 6a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
        </svg> Ha ocurrido un error. Inténtelo de nuevo. </p>
         </div>  


    </div>



</template>

<script>
import axios from "axios";

export default {
  name: "VirPartidasNuevasComponent",
  data: () => ({
    name: '',
    idiomaFavorito: '',
    languageSelected: '',
    options: [{ text: 'Inglés', value: 'en' },{ text: 'Español', value: 'es' },],
    levelSelected: 1,
    optionslvl: [{ value: 1},{ value: 2},{ value: 3},{ value: 4},{ value: 5}],
    levelOption: '',
    rivales: [],
    challengeCreado: false,
    challengeError: false,
    avisoCaracter: false,

  }),
  props: {
    language: { required: true, type: String }
  },
    mounted() {
    console.log("Partidas nuevas montado.");
    this.languageSelected = this.language;
    // this.buscarUsuarios();
  },

  methods: {
  
    rivalAleatorio() {
      const peticion = "/scrabble/challenge/request/" + this.languageSelected;
      const promise = axios.post(peticion);        
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log(response.data);    
          this.challengeCreado = true;      
          this.challengeError = false;            
        })
         .catch ((error) =>{
            console.log(error);   
            this.challengeError = true;    
            this.challengeCreado = false;   
        }) ;
    },

    rivalNivel() {
      const peticion = "/scrabble/challenge/request/" + this.languageSelected + "/level/" + this.levelOption + this.levelSelected;
      const promise = axios.post(peticion);        
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log(response.data);  
          this.challengeCreado = true;   
           this.challengeError = false;                
        })
         .catch ((error) =>{
            console.log(error);   
            this.challengeError = true;  
            this.challengeCreado = false;      
        }) ;
    },

     rivalElegir() {
      const peticion = "/scrabble/challenge/request/" + this.languageSelected + "/against/" + this.rivales[0].id;
      const promise = axios.post(peticion);        
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log(response.data);   
          this.challengeCreado = true;      
           this.challengeError = false;            
        })
         .catch ((error) =>{
            console.log(error);  
            this.challengeError = true;    
            this.challengeCreado = false;     
        }) ;
    },

    buscarUsuarios(){
      if(this.name.length >= 3){
      this.avisoCaracter = false;
      const peticion = axios.get("/scrabble/search/user/live", {
          params: {
            name: this.name,
          },
        });
        peticion
        .then( (response) =>{
          console.log("Usuarios: ", response.data);
          this.rivales = [];
          for(let i=0; i<response.data.length; i++){            
            let rival = {name: response.data[i].name, id: response.data[i].id, email: response.data[i].email};
            this.rivales.push(rival);
          }                                    
        })
          .catch((error) => {
          console.log("Ha ocurrido un error: " + error);

        });
      } else{
        this.avisoCaracter = true;
      }
    }


   }
};


</script>


<style lang="scss" scoped>
@import "../../sass/variables";


h3{
  color: $blanco;
  padding: 3px;
  background-color: $gris;
  text-align: center;
}

h4{
  font-weight: bolder;
  color: $gris;
}



.divisor{
  background-color: rgb(251, 248, 248); 
  box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.2);
  text-align: center;
  margin-bottom: 15px;
  padding:10px;
  font-size: 20px;
  color: $gris;
}

  .botonUser{
    text-align: center;
    width: 160px;
    margin-top: 8px;
    padding: 5px;
    color: $gris;
    background-color: $grisclaro;
    border-radius: 30px;
  }

a:hover{
  // transform: scale(1.05);
  text-decoration: none;
}



input[type=text] {
  border: none;
  border-bottom: 2px solid $terra;
}

input[type='radio']{
  filter: grayscale(1);
}


label {
  font-weight: bold;
  color: $gris;
}

.botonPartidas{  
    border: 2px solid $gris;
    color: $blanco;
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    border-radius: 30px;
    background-color: $gris;   
    margin-left: 10px;
 }

.challengeCreado{
  background-color: rgb(190, 233, 125);
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
}

.challengeError{
  background-color: rgb(245, 128, 128);
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
}


.partida1{
  background-image: linear-gradient(to right, rgb(255, 255, 255) , $beigeclaro);
  padding: 10px;
  margin-bottom: 10px;
}

.partida2{
  background-image: linear-gradient(to left, rgb(255, 255, 255) , $beigeclaro);
  padding: 10px;
  margin-bottom: 10px;
}


// @media (max-width: 800px) {
//   #botonrival{  
//     border: 2px solid $gris;
//     color: $blanco;
//     padding: 5px 10px 5px 10px;
//     font-weight: bold;
//     border-radius: 30px;
//     background-color: $gris;   
//     margin: 0px 10px 10px 10px;
// }
//   }


</style>

