<template>
  <div>
<h3>Tus partidas en curso</h3>

     <div class="scroll">
         <div v-for="game in c_games" :key="game.id">  
            <div class="divisor">
             <img class="left" v-if="game.language == 'en'" src='/img/reino-unido.png' alt='en'>   
             <img class="left" v-if="game.language == 'es'" src='/img/espana.png' alt='es'>   
             <p><a href="#" @click.prevent="gotoGame($event, game.id)">
               <span class="name">{{ game.opponent[0].name }}</span>
               <span class="nosotros">{{ game.player_score }}</span> -
               <span class="oponente">{{ game.opponent_score }}</span> 
               <span v-if="game.state == '0'" class="estado"> ¡Random! </span> 
               <span v-if="game.state == '1'" class="estado"> Te toca </span> 
               <span v-if="game.state == '2'" class="estado"> Su turno </span> 
              </a>  

              <a href="#"><img class="right" src='/img/eliminar.png' alt='eliminar' @click.prevent="juegoEliminar = game.id"></a></p>               
              </div>
        </div>
     </div>    


<!-- The Modal -->
<div v-if="juegoEliminar != 0" id="myModal" class="mimodal">

    <!-- Modal content -->
    <div class="mimodal-contenido">
        <div class="modaltitulo">
        <span class="close"  @click.prevent="juegoEliminar = 0">&times;</span>
        <h2>Abandonar partida</h2>
        </div>
        <div class="modalcuerpo">
        <p>¿Seguro que quieres abandonar la partida?</p>
        <a href="#" id="abandonar" class="abandonar" @click.prevent="abandonarGame(juegoEliminar)">Abandonar</a>
        </div>
    </div>

</div>

</div>  

</template>



<script>
import axios from "axios";

export default {
  name: "VirPartidasActivasComponent",
  data: () => ({
     requestChallengeId: null,
     c_games: [],
     juegoEliminar: 0,

  }),
  props:{
    games: { required: true, type: Array },
  },
   created() {
      this.c_games = this.games;
      console.log(this.games);
      // this.refreshGames();
   },
    mounted() {
    console.log("Partidas activas montado.");
  },

  methods: {

    gotoGame(event, idg) {
      if (idg === undefined) {
        idg = this.requestChallengeId;
      }
      let url =
        location.protocol +
        "//" +
        location.hostname +
        (location.port ? ":" + location.port : "");
      window.location.href = url + "/scrabble/game/" + idg;
    },

     abandonarGame(id) {
      const peticion = `/scrabble/game/${id}/giveup`;
      const promise = axios.post(peticion);   

            for(let i=0; i<this.c_games.length; i++){
                if(this.c_games[i].id == this.juegoEliminar){
                  this.c_games.splice(i,1);
                  console.log("Eliminado");
                }
            } 
      this.juegoEliminar = 0; 
      promise
        .then( (response) =>{
          console.log(peticion);
          console.log(response.data);  
          
        })
         .catch ((error) =>{
            console.log(error);  
    
        }) ;

    }

   }
};


</script>

<style lang="scss" scoped>
@import "../../sass/variables";


h3{
  color: $blanco;
  padding: 3px;
  background-color: $terra;
  text-align: center;
}

.name{
  color: $gris;
  font-weight: bolder;
}

.nosotros{
  color: #6eda5b;
  font-weight: bold;
}

.oponente{
  color: #f44336;
    font-weight: bold;
}

.estado{
  background-color: #c7c7c7;
  color: black; 
  font-size: 15px;
  border-radius: 50px;
  padding: 5px;
  margin-right: 5px;
}


.divisor{
  background-color: rgb(251, 248, 248); 
  box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.2);
  text-align: center;
  margin-bottom: 15px;
  padding:10px;
  font-size: 20px;
  color: $gris;
}

.divisor:hover{
    background-color: rgb(236, 233, 233); 
}

a{
  text-decoration:none;
  color: $gris;
}

.scroll {
  height:310px;
  overflow-y: scroll;
}

.left{
  float: left;
}

.right{
  float: right;
}

.mimodal {
    display: block; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.5);
  }

  .mimodal-contenido{
    background-color: $blanco;   
    border-radius: 30px; 
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid $gris;
    width: 400px; 
  }

.abandonar{
    background-color: #f44336;
    color: $blanco;
    font-weight: bold;
    padding: 5px;
    border-radius:20px;
}
  
  .close {
    color: $gris;
    float: right;
    font-size: 40px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


@media (max-width: 800px) {
  .oponente{
   color: #f44336;
   font-size: 15px;
   }

   .nosotros{
   color: #6eda5b;
   font-size: 15px;
   }

   .name{
    font-size: 15px; 
   }

   img{
     width: 20px;
   }

  .estado{
  background-color: #c7c7c7;
  color: black; 
  font-size: 14px;
  border-radius: 50px;
  padding: 3px;
  margin-right: 3px;
}
}


</style>