<template>
<div>



 <div class="rejilla">

        <div class="item">

              <div class="info">
                    <vir-game-data-component :game="c_game" />   
                    <br>   
                    <vir-user-data-component :game="c_game" :user="c_user" :opponent="c_opponent" />  
                                
              </div>

       </div>

        <div class="item">

              <div class="info">

                     <vir-info-game-component :game="c_game" :user="c_user" :opponent="c_opponent" /> 
   
              </div>

       </div>


       <div class="item">

              <div class="info">

                     <vir-fichas-component :game="c_game" :user="c_user" :opponent="c_opponent" /> 
   
              </div>

       </div>

 </div>








  <!-- <div id="tableboard">
    <div v-if="isWinner" class="ended win">
      Partida ya finalizada. ¡¡Ganaste!!
    </div>
    <div v-else-if="isLoser" class="ended lose">
      Partida ya finalizada. ¡¡Perdiste!!
    </div>
    <game-data-component :game="c_game" />
    <info-game-component :game="c_game" :user="c_user" :opponent="c_opponent" />

    <card-container-component :cards="c_cards" />
  </div> -->


 </div>
</template>

<script>
import VirGameDataComponent from "./VirGameDataComponent";
import VirInfoGameComponent from "./VirInfoGameComponent";
import VirUserDataComponent from "./VirUserDataComponent";
import VirFichasComponent from "./VirFichasComponent";

import CardContainerComponent from "./CardContainerComponent";

export default {
  name: "TableboardTestComponent",
  components: {
    CardContainerComponent,
    VirGameDataComponent,
    VirInfoGameComponent,
    VirUserDataComponent,
    VirFichasComponent
  } /* que sea siempre compuesto con - para evitar colisiones con otros tag HTML5 */,
  props: {
    user: { required: true, type: Object },
    opponent: { required: true, type: Object },
    game: { required: true, type: Object },
  },
  data: () => ({
    c_game: null,
    c_user: null,
    c_opponent: null,
    c_cards: [],
    requestChallengeId: null,
  }),
  computed: {
    isWinner: function () {
      return (
        (this.c_user.player == "P1" && this.c_game.state == "win_p1") ||
        (this.c_user.player == "P2" && this.c_game.state == "win_p2")
      );
    },
    isLoser: function () {
      return (
        (this.c_user.player == "P2" && this.c_game.state == "win_p1") ||
        (this.c_user.player == "P1" && this.c_game.state == "win_p2")
      );
    },
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.c_opponent = this.opponent;

    console.log(this.user);

    this.listenForBroadcast();
  },
  mounted() {
    console.log("TableboardComponent montado.");
  },
  methods: {
    createCard: function (title, status, statusText, data) {
      let newcard = {
        order: this.c_cards.length + 1,
        type: title,
        errorCode: status,
        statusCode: statusText,
        output: data,
      };

      this.c_cards.push(newcard);
    },
  /*  listenForBroadcast: function () {
        console.log("Escuchando canales: user"+this.c_user.id);
            Echo.private('user.' + this.c_user.id)
                .listen('AcceptedChallenge', (e) => {
                    alert("Generada partida " + e.gameId + "\nIdioma: " + e.lang +
                        "\nOponente\n\tid: " + e.oppoId +
                        "\n\tNombre: " + e.oppoName + "\n\tPaís: " + e.oppoCountry + 
                        "\n\tAvatar: " + e.oppoAvatar);

                    this.requestChallengeId = e.gameId;

                    console.log("Recibido");
                });
    },*/
  },
};
</script>

<style lang="scss" scoped>


.variables-title {
  font-size: 1.6em;
  padding: 0.5em;
  font-weight: 500;
  margin-left: 15%;
}

.ended {
  border: 2px solid #000;
}

.win {
  background: #3dce3d;
  color: #000;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.lose {
  background: #e63552;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}


.item {
    padding: 0.4em;

}

.rejilla{

    display: grid;

    grid-template: 1fr/ 1fr 1fr 1fr;

    grid-gap: 10px;
}


.info {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px 1px rgba(129, 129, 129, 0.2);
    padding: 20px;
}


@media (max-width: 800px) {
    .rejilla { 
        display: grid;
       
        grid-template: repeat(3, 0.3fr) / 1fr;
    
        grid-gap: 10px; 
    }
}



</style>
