<template>
<div>

<div>
       

        <div class="user-data">
                  <div class="titulo">
                   <h2>Perfil de
                   <input id="name" type="text" :placeholder="user.name" v-model="nameselect">   
                   <a href="#" @click.prevent="updateName">
                   <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="black" class="bi bi-pencil" viewBox="0 0 16 16">
                    <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                  </svg>
                  </a>
                  </h2>
                  </div>
                
              <vir-upload-image-component :image="avatar" @avatar-change="onAvatarChange" />                 
                                        
                  <br>
                  <div class="info">
                    <span class="data">País: </span>
                    <!-- <input id="country" type="text" :placeholder="user.country" v-model="countryselect"> -->
                    <select class="form-select" v-model="countryselect">
                        <option value="AF">Afghanistan</option>
                        <option value="AX">Åland Islands</option>
                        <option value="AL">Albania</option>
                        <option value="DZ">Algeria</option>
                        <option value="AS">American Samoa</option>
                        <option value="AD">Andorra</option>
                        <option value="AO">Angola</option>
                        <option value="AI">Anguilla</option>
                        <option value="AQ">Antarctica</option>
                        <option value="AR">Argentina</option>
                        <option value="AM">Armenia</option>
                        <option value="AW">Aruba</option>
                        <option value="AU">Australia</option>
                        <option value="AT">Austria</option>
                        <option value="AZ">Azerbaijan</option>
                        <option value="BS">Bahamas</option>
                        <option value="BH">Bahrain</option>
                        <option value="BD">Bangladesh</option>
                        <option value="BB">Barbados</option>
                        <option value="BY">Belarus</option>
                        <option value="BE">Belgium</option>
                        <option value="BZ">Belize</option>
                        <option value="BJ">Benin</option>
                        <option value="BM">Bermuda</option>
                        <option value="BT">Bhutan</option>
                        <option value="BO">Bolivia</option>
                        <option value="BQ">Bonairea</option>
                        <option value="BA">Bosnia</option>
                        <option value="BW">Botswana</option>
                        <option value="BV">Bouvet Island</option>
                        <option value="BR">Brazil</option>
                        <option value="IO">British Indian</option>
                        <option value="BN">Brunei Darussalam</option>
                        <option value="BG">Bulgaria</option>
                        <option value="BF">Burkina Faso</option>
                        <option value="BI">Burundi</option>
                        <option value="KH">Cambodia</option>
                        <option value="CM">Cameroon</option>
                        <option value="CA">Canada</option>
                        <option value="CV">Cape Verde</option>
                        <option value="KY">Cayman Islands</option>
                        <option value="CF">Central Africa</option>
                        <option value="TD">Chad</option>
                        <option value="CL">Chile</option>
                        <option value="CN">China</option>
                        <option value="CX">Christmas Island</option>
                        <option value="CC">Cocos</option>
                        <option value="CO">Colombia</option>
                        <option value="KM">Comoros</option>
                        <option value="CG">Congo</option>
                        <option value="CD">Congo</option>
                        <option value="CK">Cook Islands</option>
                        <option value="CR">Costa Rica</option>
                        <option value="CI">Côte d'Ivoire</option>
                        <option value="HR">Croatia</option>
                        <option value="CU">Cuba</option>
                        <option value="CW">Curaçao</option>
                        <option value="CY">Cyprus</option>
                        <option value="CZ">Czech Republic</option>
                        <option value="DK">Denmark</option>
                        <option value="DJ">Djibouti</option>
                        <option value="DM">Dominica</option>
                        <option value="DO">Dominican Republic</option>
                        <option value="EC">Ecuador</option>
                        <option value="EG">Egypt</option>
                        <option value="SV">El Salvador</option>
                        <option value="GQ">Equatorial Guinea</option>
                        <option value="ER">Eritrea</option>
                        <option value="EE">Estonia</option>
                        <option value="ET">Ethiopia</option>
                        <option value="FK">Falkland Islands</option>
                        <option value="FO">Faroe Islands</option>
                        <option value="FJ">Fiji</option>
                        <option value="FI">Finland</option>
                        <option value="FR">France</option>
                        <option value="GF">French Guiana</option>
                        <option value="PF">French Polynesia</option>
                        <option value="TF">French Southern</option>
                        <option value="GA">Gabon</option>
                        <option value="GM">Gambia</option>
                        <option value="GE">Georgia</option>
                        <option value="DE">Germany</option>
                        <option value="GH">Ghana</option>
                        <option value="GI">Gibraltar</option>
                        <option value="GR">Greece</option>
                        <option value="GL">Greenland</option>
                        <option value="GD">Grenada</option>
                        <option value="GP">Guadeloupe</option>
                        <option value="GU">Guam</option>
                        <option value="GT">Guatemala</option>
                        <option value="GG">Guernsey</option>
                        <option value="GN">Guinea</option>
                        <option value="GW">Guinea-Bissau</option>
                        <option value="GY">Guyana</option>
                        <option value="HT">Haiti</option>
                        <option value="HM">Heard Island</option>
                        <option value="VA">Holy See</option>
                        <option value="HN">Honduras</option>
                        <option value="HK">Hong Kong</option>
                        <option value="HU">Hungary</option>
                        <option value="IS">Iceland</option>
                        <option value="IN">India</option>
                        <option value="ID">Indonesia</option>
                        <option value="IR">Iran</option>
                        <option value="IQ">Iraq</option>
                        <option value="IE">Ireland</option>
                        <option value="IM">Isle of Man</option>
                        <option value="IL">Israel</option>
                        <option value="IT">Italy</option>
                        <option value="JM">Jamaica</option>
                        <option value="JP">Japan</option>
                        <option value="JE">Jersey</option>
                        <option value="JO">Jordan</option>
                        <option value="KZ">Kazakhstan</option>
                        <option value="KE">Kenya</option>
                        <option value="KI">Kiribati</option>
                        <option value="KP">Korea</option>
                        <option value="KR">Korea</option>
                        <option value="KW">Kuwait</option>
                        <option value="KG">Kyrgyzstan</option>
                        <option value="LA">Lao People's</option>
                        <option value="LV">Latvia</option>
                        <option value="LB">Lebanon</option>
                        <option value="LS">Lesotho</option>
                        <option value="LR">Liberia</option>
                        <option value="LY">Libya</option>
                        <option value="LI">Liechtenstein</option>
                        <option value="LT">Lithuania</option>
                        <option value="LU">Luxembourg</option>
                        <option value="MO">Macao</option>
                        <option value="MK">Macedonia</option>
                        <option value="MG">Madagascar</option>
                        <option value="MW">Malawi</option>
                        <option value="MY">Malaysia</option>
                        <option value="MV">Maldives</option>
                        <option value="ML">Mali</option>
                        <option value="MT">Malta</option>
                        <option value="MH">Marshall Islands</option>
                        <option value="MQ">Martinique</option>
                        <option value="MR">Mauritania</option>
                        <option value="MU">Mauritius</option>
                        <option value="YT">Mayotte</option>
                        <option value="MX">Mexico</option>
                        <option value="FM">Micronesia</option>
                        <option value="MD">Moldova</option>
                        <option value="MC">Monaco</option>
                        <option value="MN">Mongolia</option>
                        <option value="ME">Montenegro</option>
                        <option value="MS">Montserrat</option>
                        <option value="MA">Morocco</option>
                        <option value="MZ">Mozambique</option>
                        <option value="MM">Myanmar</option>
                        <option value="NA">Namibia</option>
                        <option value="NR">Nauru</option>
                        <option value="NP">Nepal</option>
                        <option value="NL">Netherlands</option>
                        <option value="NC">New Caledonia</option>
                        <option value="NZ">New Zealand</option>
                        <option value="NI">Nicaragua</option>
                        <option value="NE">Niger</option>
                        <option value="NG">Nigeria</option>
                        <option value="NU">Niue</option>
                        <option value="NF">Norfolk Island</option>
                        <option value="MP">Northern Mariana</option>
                        <option value="NO">Norway</option>
                        <option value="OM">Oman</option>
                        <option value="PK">Pakistan</option>
                        <option value="PW">Palau</option>
                        <option value="PS">Palestinian</option>
                        <option value="PA">Panama</option>
                        <option value="PG">Papua New Guinea</option>
                        <option value="PY">Paraguay</option>
                        <option value="PE">Peru</option>
                        <option value="PH">Philippines</option>
                        <option value="PN">Pitcairn</option>
                        <option value="PL">Poland</option>
                        <option value="PT">Portugal</option>
                        <option value="PR">Puerto Rico</option>
                        <option value="QA">Qatar</option>
                        <option value="RE">Réunion</option>
                        <option value="RO">Romania</option>
                        <option value="RU">Russian Federation</option>
                        <option value="RW">Rwanda</option>
                        <option value="BL">Saint Barthélemy</option>
                        <option value="SH">Saint Helena</option>
                        <option value="KN">Saint Kitts</option>
                        <option value="LC">Saint Lucia</option>
                        <option value="MF">Saint Martin</option>
                        <option value="PM">Saint Pierre</option>
                        <option value="VC">Saint Vincent</option>
                        <option value="WS">Samoa</option>
                        <option value="SM">San Marino</option>
                        <option value="ST">Sao Tome</option>
                        <option value="SA">Saudi Arabia</option>
                        <option value="SN">Senegal</option>
                        <option value="RS">Serbia</option>
                        <option value="SC">Seychelles</option>
                        <option value="SL">Sierra Leone</option>
                        <option value="SG">Singapore</option>
                        <option value="SX">Sint Maarten</option>
                        <option value="SK">Slovakia</option>
                        <option value="SI">Slovenia</option>
                        <option value="SB">Solomon Islands</option>
                        <option value="SO">Somalia</option>
                        <option value="ZA">South Africa</option>
                        <option value="GS">South Georgia</option>
                        <option value="SS">South Sudan</option>
                        <option value="ES">Spain</option>
                        <option value="LK">Sri Lanka</option>
                        <option value="SD">Sudan</option>
                        <option value="SR">Suriname</option>
                        <option value="SJ">Svalbard</option>
                        <option value="SZ">Swaziland</option>
                        <option value="SE">Sweden</option>
                        <option value="CH">Switzerland</option>
                        <option value="SY">Syria</option>
                        <option value="TW">Taiwan</option>
                        <option value="TJ">Tajikistan</option>
                        <option value="TZ">Tanzania</option>
                        <option value="TH">Thailand</option>
                        <option value="TL">Timor-Leste</option>
                        <option value="TG">Togo</option>
                        <option value="TK">Tokelau</option>
                        <option value="TO">Tonga</option>
                        <option value="TT">Trinidad</option>
                        <option value="TN">Tunisia</option>
                        <option value="TR">Turkey</option>
                        <option value="TM">Turkmenistan</option>
                        <option value="TC">Turks</option>
                        <option value="TV">Tuvalu</option>
                        <option value="UG">Uganda</option>
                        <option value="UA">Ukraine</option>
                        <option value="AE">United Arab Emirates</option>
                        <option value="GB">United Kingdom</option>
                        <option value="US">United States</option>
                        <option value="UY">Uruguay</option>
                        <option value="UZ">Uzbekistan</option>
                        <option value="VU">Vanuatu</option>
                        <option value="VE">Venezuela</option>
                        <option value="VN">Viet Nam</option>
                        <option value="VG">Virgin Islands</option>
                        <option value="WF">Wallis and Futuna</option>
                        <option value="EH">Western Sahara</option>
                        <option value="YE">Yemen</option>
                        <option value="ZM">Zambia</option>
                        <option value="ZW">Zimbabwe</option>
                    </select>
                    
                     <a href="#" @click.prevent="updateCountry"> &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#a3583a" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                      </svg></a>
                      </div>

                  <div class="info">
                    <span class="data">Lenguaje favorito: </span>
                    <!-- <span class="value">{{ user.favourite_language }}</span> -->
                    <select class="form-select" v-model="languageselect"> 
                        <option value="es">Español</option>
                        <option value="en">Inglés</option>
                    </select>
                    <a href="#" @click.prevent="updateIdioma"> &nbsp; <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#a3583a" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                    <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                  </svg></a>
                  </div>

                <div v-if="cambiosOk">
                  <p class="cambiosOk">Se han guardado los cambios</p>
                </div>

                   <br>

               <a class="botonUser" v-on:click="activarPass = !activarPass">Password</a>   
               <div v-if="activarPass">
                 <input class="m-2" type="password" placeholder="Antigua pass" v-model="passantigua">
                 <input class="m-2" type="password" placeholder="Nueva pass" v-model="passnueva1">
                 <input class="m-2" type="password" placeholder="Confirme pass" v-model="passnueva2">
                  <a class="botonDelete" href="#" @click.prevent="updatePassword">Cambiar</a>   
               </div>

                <a class="botonUser" v-on:click="activarAvatar = !activarAvatar">Borrar avatar</a>
                <div v-if="activarAvatar">
                  <p class="m-2">¿Quieres eliminar tu avatar?
                  <a class="botonDelete" href="#" @click.prevent="removeAvatar">Sí</a></p>
                  <br>
                </div>

               <a class="botonUser" v-on:click="activarDelete = !activarDelete">Borrar cuenta</a>
                <div v-if="activarDelete">
                  <p class="m-2">¿Estás seguro de eliminar tu cuenta?</p>
                  <a class="botonDelete" href="#" @click.prevent="removeUser">Eliminar</a>   
                </div>


    

         </div>
            
       </div>  


   </div>


  
</template>

<script>
import axios from "axios";

import VirUploadImageComponent from "./VirUploadImageComponent";
import VirPartidasActivasComponent from "./VirPartidasActivasComponent";
import VirPartidasNuevasComponent from "./VirPartidasNuevasComponent";


export default {
  name: "VirUserInfoComponent",
  components: {
    VirUploadImageComponent,
    VirPartidasActivasComponent,
    VirPartidasNuevasComponent,
  } /* que sea siempre compuesto con - para evitar colisiones con otros tag HTML5 */,
  props: {
    user: { required: true, type: Object },
    avatar: { required: true, type: String },
    games: { required: true, type: Array }, 
    language: { required: true, type: String }
  },



   data: () => ({
    passantigua: "",
    passnueva1: "",
    passnueva2: "",
    activarPass: false,
    activarDelete: false,
    activarAvatar: false,
    c_avatar: "",
    c_games: [],
    countryselect: '',
    languageselect: 'en',
    nameselect:'',
    cambiosOk: false,

  }),


    created() {
    this.c_user = this.user;
    this.c_games = this.games;
    this.c_variables = this.variables;

    if (!this.avatar) this.c_avatar = "";
    else this.c_avatar = this.avatar;

    },
  mounted() {
    console.log("UserDataComponent montado.");
    this.languageselect = this.user.favourite_language;
    this.countryselect = this.user.country;

  },
  methods: {
    onAvatarChange(image) {
      this.$emit("avatar-change", image);
    },



    
      updateIdioma() {

      const promise = axios.put("/scrabble/user/update", {       
        favourite_language: this.languageselect,
      });

      promise
        .then((response) => {
          console.log("Idioma cambiado:", response);
                    this.cambiosOk = true;
                      // setTimeout(() => {
                      //   window.location.reload();
                      //   }, 2000);

        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },

      updateCountry() {
      if(this.countryselect.length == 2 ){ 
      const promise = axios.put("/scrabble/user/update", {       
            country: this.countryselect,
      });

      promise
        .then((response) => {
          console.log("Pais cambiado:", response);
          this.cambiosOk = true;
        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    } else {console.log("no se puede cambiar")}},

      updatePassword() {
      const promise = axios.put("/scrabble/user/update", {       
           new_password: this.passnueva1,
           new_password_confirmation: this.passnueva2,
           old_password: this.passantigua,
      });

      promise
        .then((response) => {
          console.log("Pass cambiado:", response);
                                 
                        setTimeout(() => {
                            window.location.replace('/scrabble/login');
                        }, 2000);
                    

        })
        .catch((error) => {
          console.log("ERROR: " + error);
        });
    },

      updateName() {
        const promise = axios.put("/scrabble/user/update", {       
               name: this.nameselect,
        });

        promise
          .then((response) => {
            console.log("Nombre cambiado:", response);
                      this.cambiosOk = true;

          })
          .catch((error) => {
            console.log("ERROR: " + error);
          });
      },


      removeAvatar() {
      this.c_avatar = null;
      const promise = axios.post("/scrabble/user/avatar/remove");

      promise
        .then((response) => {
          console.log("Elimina avatar respuesta:", response);
         })
        .catch((error) => {
          console.log("ERROR: " + error);
          });
    }, 

       removeUser() {
      // elimina usuario
      const promise = axios.delete("/scrabble/user/remove");

      promise
        .then((response) => {
          console.log("Eliminar cuenta:", response);
         
        })
        .catch((error) => {
          console.log("ERROR: " + error);
       
        })
        .then(() => {

          setTimeout(() => {
            window.location.replace("/scrabble/login");
          }, 2000);
        });
    }





  },




  
};
</script>

<!-- el estilo lo implemento en scss -->
<!-- además, para ganar en reusabilidad y evitar conflictos, hago que las clases
     sólo tengan validez en el componente -->
<style lang="scss" scoped>
@import "../../sass/variables";

.user-data {

  .upload-image {
    width: 50%;
  }

  .titulo{
    color: $terra;
    font-weight: bolder;
  }


  .info {
    line-height: 41px;
  }

  .value {
    color: $terra;
    padding-left: $padding-left;
    font-weight: 700;
  }

  .botonUser{
    text-align: center;
    width: 160px;
    margin-top: 8px;
    padding: 5px;
    color: $gris;
    font-weight: bolder;
    background-color: rgb(202, 202, 202);
    border-radius: 30px;
  }

   .botonDelete{
    text-align: center;
    width: 160px;
    margin-top: 8px;
    padding: 5px;
    color: $blanco;
    font-weight: bolder;
    background-color: $terra;
    border-radius: 30px;
  }

  .data {
    padding-left: $padding-left;
    text-align: left;
    font-weight: bolder;
    font-size: 15px;
    color: $gris;
  }


  input#name {
    border: none;
    border-bottom: 2px dotted $gris;
    font-size: 25px;
    font-weight: bolder;
    color: $gris;
    width: 40%;
}

  input#name::placeholder {
    font-size: 25px;
    font-weight: bolder;
    color: $gris;
}

input[type=password] {
  border: none;
  border-bottom: 2px solid $terra;
}

a:hover{
  text-decoration:none;
}

.cambiosOk{
  background-color: rgb(190, 233, 125);
  margin: 5px;
  padding: 5px;
  color: black;
  font-weight: bold;
}



}
</style>
