<template>
  <div class="info-game-data">

    <h3 class="jugadores">Jugadores</h3>
    
    <div class="players">
      <div class="player-info">
        <!-- Como no me van los avatar pongo unos predeterminados para todos y ya -->
        <!-- <div v-if="user.avatar">
          <img :src="user.avatar" class="image" />
        </div>
        <div v-else class="image" /> -->
        <img class="avatar" src='/img/avatar1.png' alt='avatar'>  
        <div class="info">
          <span class="data">Tus puntos </span>
          <span class="value">{{ user.name }} </span>
        </div>
        <div class="info">
          <span class="text">País: </span>
          <span class="text">{{ user.country }}</span>
        </div>
        <div class="info">
          <span class="text">Puntos: </span>
          <span class="text2">{{ c_user.score }}</span>
        </div>
      </div>
      <div class="player-info">
        <!-- <div v-if="opponent.avatar">
          <img :src="opponent.avatar" class="image" />
        </div>
        <div v-else class="image" /> -->
        <img class="avatar" src='/img/avatar2.png' alt='avatar'>  
        <div class="info">
          <span class="data">Tu rival </span>
          <span class="value">{{ opponent.name }}</span>
        </div>
        <div class="info">
          <span class="text">País: </span>
          <span class="text">{{ opponent.country }}</span>
        </div>
        <div class="info">
          <span class="text">Puntos: </span>
          <span class="text1">{{ c_opponent.score }}</span>
        </div>
      </div>

    </div>

  </div>
</template>

<script>
import axios from "axios";
//import ListenForBroadcast from "./ListenForBroadcast";
import {
  Config as BConfig,
  default as ListenForBroadcast,
} from "./ListenForBroadcast.js";
import ScrabbleHelper from "../scrabble_helper_library.js";

export default {
  name: "InfoGameComponent",
  components: {
    ListenForBroadcast,
  },
  props: {
    user: { required: true, type: Object },
    opponent: { required: true, type: Object },
    game: { required: true, type: Object },
  },
  // variable no reactiva
  broadcastConfig: new BConfig("socket.io", window.location.hostname + ":6001"),
  data() {
    return {
      c_game: null,
      c_user: null,
      c_opponent: null,
      tokens: [],
      rowpos: "A",
      colpos: 1,
      direction: "H",
      word: "",
      tokensReturn: [],
      webSocketChannels: [],
    };
  },
  computed: {
    console: () => console, // para poder acceder a la consola desde el template
    isTurn() {
      return (
        (this.c_user.player == "P1" && this.c_game.state == "turn_p1") ||
        (this.c_user.player == "P2" && this.c_game.state == "turn_p2")
      );
    },
  },
  created() {
    this.c_game = this.game;
    this.c_user = this.user;
    this.c_opponent = this.opponent;

    this.fillTokens(this.c_user.tokens);

    this.webSocketChannels.push({
      name: "game." + this.c_game.id + ".user." + this.c_user.id,
      type: "private",
      events: ["OpponentThrow", "GiveupGame"],
    });

    /* this.listenForBroadcast(); */
  },
  mounted() {
    console.log("TableboardComponent montado.");
  },
  methods: {
    getLetter(d) {
      return ScrabbleHelper.getLetter(this.c_game.language, d);
    },
    getCode(d) {
      return ScrabbleHelper.getCode(this.c_game.language, d);
    },
    fillTokens(tokens) {
      this.tokens.length = 0;

      // añado el id
      for (let n = 0; n < tokens.length; n++) {
        let newToken = {
          id: this.tokens.length + n,
          value: tokens[n].value,
          letter: this.getLetter(tokens[n].letter),
        };

        this.tokens.push(newToken);
      }
    },
    returnTokens() {
      let route = "/scrabble/game/" + this.c_game.id + "/user/return";

      let tmpTokens = [];

      for (let i = 0; i < this.tokensReturn.length; i++) {
        tmpTokens.push(this.tokensReturn[i].slice(-1));
      }

      const promise = axios.post(route, {
        tokens: tmpTokens,
      });

      promise
        .then((response) => {
          console.log("Respuesta piezas devueltas: ", response.data);

          // pongo las nuevas letras en pantalla
          this.fillTokens(response.data.tokens);

          // actualizo el estado
          this.c_game.state = response.data.state;

          this.tokensReturn.length = 0;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    passTurn() {
      let route = "/scrabble/game/" + this.c_game.id + "/user/pass";
      const promise = axios.post(route);

      promise
        .then((response) => {
          console.log("Respuesta pasar turno: ", response);

          // actualizo el estado
          this.c_game.state = response.data.state;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    giveup() {
      let route = "/scrabble/game/" + this.c_game.id + "/giveup";
      const promise = axios.post(route);

      promise
        .then((response) => {
          console.log("Partida abandonanda");

          // actualizo el estado
          this.c_game.state = response.data.state;
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    sendWord() {
      // envio la palabra
      // el JSON de ejemplo incuye todos los posibles datos a modificar
      // podría sólo indicarse uno
      let route = "/scrabble/game/" + this.c_game.id + "/user/throw";
      const promise = axios.post(route, {
        word: this.word,
        row: this.rowpos,
        column: this.colpos,
        direction: this.direction,
      });

      promise
        .then((response) => {
          console.log("Respuesta envio palabra:", response);

          // redibujo el tablero con la nueva palabra
          this.c_game.tableboard = ScrabbleHelper.updateTableboard(
            this.c_game.tableboard,
            response.data.icol,
            response.data.irow,
            this.direction,
            response.data.rword
          );

          // pongo las nuevas letras en pantalla
          this.fillTokens(response.data.tokens);

          // quito letras del saco
          this.c_game.remaining_tokens -= parseInt(
            response.data.newtokens.length
          );

          // actualizo sus puntos
          this.c_user.score = response.data.pscore;

          // actualizo el estado
          this.c_game.state = response.data.state;

          if (response.data.pstate == "win") {
            alert("¡¡Enhorabuena!! ¡¡Has ganado!!");
          }
        })
        .catch((error) => {
          console.log(
            "ERROR: " +
              error.response.status +
              ". " +
              error.response.statusText +
              ". " +
              error.response.data
          );
        });
    },
    // realiza la funcion correspondiente en funcion del evento broadcast recibido
    processBroadcastEvent(channel, event, e) {
      console.log(channel, " - ", event, " - ", e);
      switch (event) {
        case "OpponentThrow":
          this.c_game.state = e.state;
          if (e.playerState == "pass") {
            alert("El contrincante ha pasado turno.");
            console.log("El contrincante ha pasado turno.");
          } else if (e.playerState == "win") {
            alert("Lo siento, has perdido :(");
            console.log("Lo siento, has perdido :(");
          } else if (e.playerState == "return") {
            alert("El contrincante ha devuelto fichas");
            console.log("El contrincante ha devuelto fichas");
          } else {
            this.c_game.remaining_tokens = e.numberRemainingTokens;
            this.c_opponent.score = e.playerScore;
            this.c_game.tableboard = e.tableboard;

            console.log("Recibida tirada oponente");
          }
          break;
        case "GiveupGame":
          this.c_game.state = e.state;
          alert("El contrincante ha abandonado.");
          console.log("El contrincante ha abandonado.");
          break;
        default:
          console.log("Broadcast event ", event, " not processed");
      }
    },
   
  },
};
</script>

<style lang="scss" scoped>
@import "../../sass/variables";

.jugadores{
  color: $blanco;
  padding: 3px;
  background-color: $gris;
  text-align: center;
}

 .data{
    font-size: 30px;
    font-weight: bolder;
    color: $gris;
  }
  .value{
    font-size: 30px;
    font-weight: bolder;
    color: $terra;
  }

  .text{
    font-size: 23px;
    font-weight: bold;
    color: $gris;  
  }

  .text1{
    font-size: 23px;
    font-weight: bolder;
    color: rgb(240, 98, 98);  
  }

  
  .text2{
    font-size: 23px;
    font-weight: bolder;
    color: rgb(151, 209, 63);  
  }


 .player-info{
   background-color: $beigeclaro;
   border-radius: 20px;
   margin: 20px 0px 20px 0px;
   padding: 20px;
   
 }

 .avatar{
   float: left;
   width: 130px;
   margin-right: 20px;
 }


</style>
