.contenido_marron{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;  
  padding: 10px;
  background-color: #a3583a;
  color: white;
}

.contenido_blanco{
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;   
  padding: 30px; 
  background-color: white;
  color: #1f1f1f;
}

.contenido_gris{
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;   
  padding: 10px;
  background-color: #494949;
  color: white;
}



h1{
  font-size: 40px;  
  font-weight: bolder;
}

.retrato {
    margin-right: 30px;   
}


.col-lg-3 {
    max-height: 50px;
    overflow: hidden
  }
  
  .col-lg-3:active {
    max-height: 100%;
    overflow: hidden
  }

.pills-trabajos{
  padding:20px;
  margin:20px;
} 

.titulo-clarito{
  color: #e0ccb8;
  font-weight: bolder;
  font-size: 30px;
}
/* boton */
a {
  text-decoration: none;
  display: inline-block;
  /* padding: 8px 8px; */
  color: #494949;
}

a:hover {
  color: #1b1b1b;
}


.next {
  background-color: white;
}

.pillstab{
  margin: 5px
}

.navegador{
  text-align: right;
}


.contenido_blanco:first-letter {
  font-weight: bolder;
}




/* mapa */

.mapdiv{
  width: 100%;  
}

.mapdiv path{
  stroke: darkgrey;
  stroke-width: 1px;
  transition: fill 0.3s;
}

.st0{
  fill-opacity: 20%;
}

.st1:hover{    
  fill: #90281A;
  fill-opacity: 100%;
}


.st0:hover{    
  fill: lightgray;
  fill-opacity: 35%;
}


.btn-link{
  color: #494949;
}

.valencia{
  color: #a3583a;
  font-weight: bolder;
  font-size: 30px;
}