h1 {
  color: #a3583a;
}

body {
  background-color: #e0ccb8;
}

select {
  border: 2px solid #a3583a;
  box-shadow: 1px 1px 3px #a3583a;
  color: #a3583a;
  padding: 4px;
  font-weight: bold;
  border-radius: 30px;
  background-color: white;
}

