.error-tittle {
  color: #a3583a;
  font-size: 80px;
  font-weight: bolder;
}

.error-subtittle {
  color: #ffffff;
  font-size: 50px;
  font-weight: bold;
}

.error-description {
  color: #606060;
  font-size: 20px;
}

.tuerca {
  -webkit-animation-name: spin;
          animation-name: spin;
  -webkit-animation-duration: 5000ms;
          animation-duration: 5000ms;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
}

@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

