html {
  background-color: #e0ccb8;
}

h1,h2{ color:#494949
}


 #imprentainfo{
    background-color: #494949;
    padding: 40px;
  }


 .card-border{
    border: solid 10px white;
    border-radius: 20px;
    overflow: hidden;
    transition: all ease-out 0.2s;    
    color: black;
}

.card-border:hover{
   transform: scale(1.05);
}


#imprenta{
  text-align: center;
  padding: 25px;
  font-size: 30px;
  background-color:#a3583a;
  color:white;
}  


#scrabble{
    text-align: center;
    padding: 50px;
    font-size: 30px;
    background-color: white;
    color: #a3583a;
  }


.img-section { 
  width: 70%;
}

#cita {
  color: #a3583a;
  font-size: 20px;
  font-style: italic;
}

.col-sm-6{
  padding: 4%;
  text-align: center;

}


#licencias:hover{
  color:white;
}

.bordes {
  background-color: #F3DFCB;
  padding: 10px;
  border: 3px solid white;
  border-style: dashed;
}


