.login2 {
  background-color: #606060;
  border-radius: 20px;
}

.login-content {
  background-color: #ffffff;
  margin: 20px;
  padding: 60px;
}

.login-content h2 {
  color: #e0ccb8;
  font-weight: bolder;
  font-size: 45px;
  margin: 20px;
}

.login-content .olvidadopass {
  color: #ffffff;
  margin-left: 15px;
}

.login-content a:hover {
  color: #ffffff;
}

.login-content .error {
  color: red;
  margin-left: 15px;
}

.box #email,
.box #password {
  margin: 10px;
  border-radius: 20px;
}

.box .btn-lg {
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: #e0ccb8;
}

.contener {
  margin: 0px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-typing {
  padding: 15px 25px;
  background: #a3583a;
  font-size: 30px;
  color: #ffffff;
  border-radius: 50px;
}

.text-typing p {
  margin: 0px;
  white-space: nowrap;
  overflow: hidden;
  -webkit-animation: typing 3s steps(22, end) forwards, blink 1s infinite;
          animation: typing 3s steps(22, end) forwards, blink 1s infinite;
}

@-webkit-keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@keyframes typing {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

@-webkit-keyframes blink {
  0%, 100% {
    border-right: 2px solid transparent;
  }

  50% {
    border-right: 2px solid #ffffff;
  }
}

@keyframes blink {
  0%, 100% {
    border-right: 2px solid transparent;
  }

  50% {
    border-right: 2px solid #ffffff;
  }
}

.box input[type=text],
.box input[type=password],
.box input[type=email] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #e0ccb8;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: #ffffff;
  border-radius: 30px;
  transition: 0.25s;
}

.box input[type=text]:focus,
.box input[type=password]:focus,
.box input[type=email]:focus {
  width: 240px;
  border-color: #ffffff;
}

.loginboton {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #e0ccb8;
  color: white;
}

.registro1 {
  margin-top: 30px;
  background-color: #a3583a;
}

.registro2 {
  background-color: #ffffff;
}

.caja {
  text-align: center;
}

.caja .btn-lg {
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: #a3583a;
}

.caja .p {
  color: #a3583a;
  font-weight: bold;
}

.caja input[type=text],
.caja input[type=password],
.caja input[type=email] {
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #a3583a;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: #606060;
  border-radius: 24px;
  transition: 0.25s;
}

.caja input[type=text]:focus,
.caja input[type=password]:focus,
.caja input[type=email] {
  width: 280px;
  border-color: #a3583a;
}

.recuperar {
  background-color: #ffffff;
  margin-top: 40px;
}

.error {
  font-size: 15px;
  color: #a3583a;
}

