.contenido-blanco{
    margin: 30px;
    padding: 5px;
    background-color: white;
    border-radius: 20px;
    font-weight: bolder;  
  }
  
  .contenido-gris{
    margin: 40px;
    padding: 30px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;  
    text-align: center;
  }
  
  
  .contenido-oscuro{
    margin: 40px;
    padding: 30px;
    border-radius: 20px;
    color: white;
    background-color: #494949;
    font-weight: bolder;  
    text-align: center;
  }
  
  
  .estadisticas{
    font-size: 40px;  
  }

  .titulo{
    font-size: 15px;  
    font-weight: lighter;
  }
  


  .col-sm-6{
    padding: 4%;
    text-align: center; 
  }
  
#titulo-scrabble{
  font-size: 40px;
  padding: 20px;
  text-align: center;
}

.col-sm-12{
  padding: 4%;
  text-align: center;

}

#eljuego{
  padding: 20px;
  font-size: 40px;
  font-weight: bold;
  color: #e0ccb8;
}


.go:hover{
  transform: scale(1.1);
}

.contenido-registro{
  margin: 30px;
  background-color: white;
  border-radius: 20px;
  font-weight: bolder;  
}