html {
  background-color: #e0ccb8;
}

/* nav */
.nav-link{
  color: #a3583a;
}

.nav-link:hover{
  color: #a3583a;
  font-weight: bold;
}

/* botones */

.btn-lg {
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: #a3583a;
  color: white;
}

.btn-lg:hover {
  color: white;
  transform: scale(1.05);
}

