//colores
$blanco: #ffffff;
$beige: #e0ccb8;
$beigeclaro: #f6ece1;
$terra:  #a3583a;
$gris: #606060;
$grisclaro: #c5c5c5;



// Body
$body-bg: #40424d;

// tipografía
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
$text-color: #c1d7e3;

// header
$title-padding: 0.3em;

// Output-card
$card-bg: #27322c;
$table-lighter1: lighten($card-bg,10%);
$table-lighter2: lighten($card-bg,20%);
$info-type-color: rgb(79, 144, 167);
$info-order-color: rgb(111, 97, 170);
$padding-left: 0.4em;
$padding-left-output: 0.9em;

// welcome
$alto_div: 70px;
$gap: 30px;
$color_printer: coral;
$color_scrabble: indianred;

// src_index
$color_menu: rgb(172, 166, 166)
