@import "variables";

h1 {
    color: $terra;
}

body {
    background-color: $beige;
}


select {
    border: 2px solid $terra;
    box-shadow: 1px 1px 3px $terra;
    color: $terra;
    padding: 4px;
    font-weight: bold;
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    
  }