@import "variables";


.error-tittle{
    color: $terra;
    font-size: 80px;
    font-weight: bolder;
}

.error-subtittle{
    color: $blanco;
    font-size:50px;
    font-weight: bold;
}

.error-description{
    color: $gris;
    font-size:20px;
}

.tuerca{
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
      }
  
      @keyframes spin {
      from {
          transform:rotate(0deg);
      }
      to {
          transform:rotate(360deg);
      }
  }