@import "variables";



.login2{
    background-color: $gris;
    border-radius: 20px;
}

.login-content{

    background-color: $blanco;
    margin: 20px;
    padding: 60px;


    h2 {
        color: $beige;
        font-weight: bolder;
        font-size: 45px;
        margin: 20px
    }

    .olvidadopass{
      color: $blanco;
      margin-left: 15px;
    }
    a:hover{
      color: $blanco;
    }

   .error{
     color: red;
     margin-left: 15px;
   }

}

.box{

#email, #password {
    margin: 10px;
    border-radius: 20px;
}

.btn-lg{
  margin-left: 20px;
  margin-bottom: 30px;
  background-color: $beige;
}

}

.contener {
    margin:0px;
    height: 150px;
    display:flex;
    align-items:center;
    justify-content:center;  
  }
  
  .text-typing {
    padding:15px 25px;
    background:$terra;
    font-size: 30px;
    color: $blanco;
    border-radius:50px;

  }
  .text-typing p {
    margin:0px;
    white-space:nowrap;
    overflow:hidden;
    animation:typing 3s steps(22,end) forwards,
              blink 1s infinite;
  }
  @keyframes typing {
    0% { width:0% }
    100% { width:100% }
  }
  @keyframes blink {
    0%,100% {
      border-right:2px solid transparent;
    }
    50% {
      border-right:2px solid $blanco;
    }
  }



  
.box input[type = "text"],.box input[type = "password"],.box input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $beige;
  padding: 15px 10px;
  width: 200px;
  outline: none;
  color: $blanco;
  border-radius: 30px;
  transition: 0.25s;
}
.box input[type = "text"]:focus,.box input[type = "password"]:focus,.box input[type = "email"]:focus{
  width: 240px;
  border-color: $blanco;
}

.loginboton{
  padding: 10px;
  margin: 10px;
  border-radius: 20px;
  background-color: $beige;
  color: white;
}




// REGISTRO
.registro1{
 margin-top: 30px;
 background-color: $terra;
}

.registro2{
  background-color: $blanco; 
}


.caja{
  text-align: center;

  .btn-lg{
    margin-left: 20px;
    margin-bottom: 30px;
    background-color: $terra;
  }

   .p{color: $terra;
    font-weight: bold;}

}

.caja input[type = "text"],.caja input[type = "password"],.caja input[type = "email"]{
  border:0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid $terra;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: $gris;
  border-radius: 24px;
  transition: 0.25s;
}
.caja input[type = "text"]:focus,.caja input[type = "password"]:focus,.caja input[type = "email"]{
  width: 280px;
  border-color:  $terra;
}

//RECUPERAR PASS
.recuperar{
  background-color: $blanco; 
  margin-top: 40px;

}


.error{
  font-size: 15px;
  color: $terra;
}